{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  <div class="author__avatar">
    {% if site.author.avatar contains "://" %}
      <img src="{{ site.author.avatar }}" alt="{{ site.author.name }}">
    {% else %}
      <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ site.author.name }}</h3>
    <p class="author__bio">{{ site.author.bio }}</p>
  </div>

  <!-- 카테고리 목록 -->
  <div class="sidebar__categories">
    <h4>Categories</h4>
    <ul>
      {% assign categories = site.categories | sort %}
      {% for category in categories %}
        <li>
          <a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">
            {{ category[0] }}
            <span class="category-count">({{ category[1].size }})</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
