---
layout: default
---

<div class="page__wrapper">
  <div class="page__sidebar">
    {% include sidebar.html %}
  </div>
  
  <div class="page__content">
    <h3 class="archive__subtitle">{{ page.title }} Posts</h3>
    
    <div class="entries-list">
      {% assign posts = site.categories[page.category] %}
      {% if posts.size > 0 %}
        {% for post in posts %}
          <article class="entry">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="entry__meta">
              <time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%B %d, %Y" }}
              </time>
            </p>
            <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
          </article>
        {% endfor %}
      {% else %}
        <p>No posts found in this category.</p>
      {% endif %}
    </div>
  </div>
</div>
