/* ==========================================================================
   Custom Mark Highlight
   ========================================================================== */

mark {
  background-color: #ede16e; 
  padding: 0 0.2em;
  border-radius: 2px;
}
