/* ==========================================================================
   Custom Mark Highlight
   ========================================================================== */

mark {
  background-color: #fff176; // 연노랑 (Material Yellow 300)
  padding: 0 0.2em;
  border-radius: 3px;
}
